.nav {
  // Layout
  display: flex;
  flex-direction: column;
  align-items: center;

  // Design
  gap: 10px;
  padding-top: 20px;
  padding-bottom: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

  // Children
  img {
    max-width: 100px;
    margin-bottom: 5px;
  }
  a {
    font-weight: 600;
    font-size: 18px;
  }
  div {
    display: flex;
    gap: 10px;
  }
}

.active {
  color: tomato;
}
